<h2>Existing Tasks</h2>

<ul>
   {{#each taskArray}}
    <li>
        <h3>{{this.taskTitle}}</h3>
        <h4>{{this.taskAssignedTo}}</h4>
        <p>{{this.taskStartDate}}</p>
        <p>{{this.taskDeadline}}</p>
        <p>{{this.taskDescription}}</p>
    </li>
   {{else}}
   <p>You don't have any tasks yet.</p>
  {{/each}}
</ul>