<h2>{{Project.projectName}}</h2>

<h3>Client Name : {{Project.clientName}}</h3>
<h4>Adress : {{Project.adress}}</h4>
<h5>From {{Project.startOfProject}} to {{Project.endOfProject}}</h5>
<p>Description : 
    <br />
    {{Project.description}}
    
</p>
<p>Check Your Team <a href="#">HERE</a>!</p>